* {
    /*border-style: dotted;
    border-color: red; */
}
html {
    scroll-behavior: smooth;
}

/* Top of the Page*/
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: white;
    color: gray;
    flex-wrap: wrap;
}

h1 {
    padding: 5px 10px 5px 30px;
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    text-decoration: none;
    flex-wrap: wrap;
    
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

nav li {
    display: inline;
    margin: 5px;
    flex-wrap: wrap;
}
/*Section with backgrond pic*/
#hero {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-image: url(images/background.jpeg);
    background-position: center center;
    border-top: solid black 5px;
    border-bottom: solid black 5px;
}

#hero h2 {
    display: flex;
    align-items: center;
    margin: 0 40px 40px 0 ;
    padding: 0 10px 0 10px;
    height: 30px;
    background-color: white;
}

#hero img {
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 10px 10px 10px;
}

#AboutMe  {
    display: flex;
    padding: 20px;
    
}

.Sections {
    display: flex;
    justify-content: center;
    width: 270px;
    height: 100px;
    padding: 20px;
    align-items: center;
}

#Title1  {
    display: flex;
    justify-content: center;
    width: 270px;
    height: 100px;
    padding: 20px;
    align-items: center;*/
    
}

 #Bio  {
    display: flex;
    padding-left: 40px;
    border-left: solid black 5px;
}

#AboutMe #Bio p  {
    margin: 10px;
}

#Work {
    display: flex;
    padding: 20px;
}

#Projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    padding-left: 40px;
    border-left: solid black 5px;
    
}

.Projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: 5px;
    width: 300px;
    height: 250px;
    border: solid black 5px;
    background-color: grey;
   
}

 #Project1 {
    width: 560px;
    height: 360px;
    background-image: url(./images/Screenshot1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#ProjectTitle1 {
    background-color: white;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
}
#ProjectTitle2 {
    background-color: white;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
}


 #Projects #Project2 {
    width: 745px;
    height: 400px;
    background-image: url(./images/Horiseon.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
 
footer {
    display: flex;
    padding: 20px;
}

footer #FooterLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    border-left: solid black 5px;
    width: 800px;
}
